<div class="endorse">
    <div class="main">
        <div class="header">
            <h1>Forward</h1>
        </div>

        <div class="body">
            <p>Are you sure you want to forward this?</p>
        </div>

        <div class="footer">
            <div class="cancel">
                <button class="button-1" (click)="cancel()">Cancel</button>
            </div>
            <div class="confirm">
                <button class="button-1" (click)="forwardToAccounting()">Confirm</button>
            </div>
        </div>
    </div>
</div>