<div class="user-view">
  <div class="main">
    <div class="header">
      <h1 class="header-text">
        <span class="back" (click)="goBack()">Forward</span> >
        {{ this.application_id }}
      </h1>
    </div>

    <div class="table">
      <div class="profile">
        <div class="profile-body">
          <div class="profile-content">
            <div class="profile-image">
              <img src="../../../assets/chad.jpg" alt="profile picture" />
            </div>
            <table class="profile-table">
              <tr>
                <td>Employee Number</td>
                <td>{{ this.loanDetails[0].applicant_id }}</td>
              </tr>
              <tr>
                <td>Fullname</td>
                <td>
                  {{ this.loanDetails[0].first_name }}
                  {{ this.loanDetails[0].last_name }}
                </td>
              </tr>
              <tr>
                <td>Designation</td>
                <td>{{ this.loanDetails[0].designation }}</td>
              </tr>
              <!-- <tr>
                <td>Contact #</td>
                <td>-----</td>
              </tr> -->
            </table>
          </div>
        </div>
      </div>

      <div class="details">
        <div class="scrollable">
          <mat-tab-group clas="tab">
            <mat-tab label="Loan Application Form">
              <mat-tab-group>
                <mat-tab label="Loan Application Details">
                  <!-- Loan Details -->
                  <h3 style="margin-top: 1rem">Loan Details</h3>
                  <table class="details-table">
                    <tr>
                      <td>Application Number</td>
                      <td>{{ loanDetails[0].application_id }}</td>
                    </tr>
                    <tr>
                      <td>Loan Amount</td>
                      <td>PHP {{ loanDetails[0].loan_amount }}</td>
                    </tr>
                    <tr>
                      <td>Loan Type</td>
                      <td>{{ loanDetails[0].type_of_loan }}</td>
                    </tr>
                    <tr>
                      <td>Term</td>
                      <td>{{ loanDetails[0].term }}</td>
                    </tr>
                    <tr>
                      <td>Purpose</td>
                      <td>{{ loanDetails[0].purpose }}</td>
                    </tr>
                    <tr>
                      <td>Other Purpose</td>
                      <td>
                        {{
                          loanDetails[0].other_purpose
                            ? loanDetails[0].other_purpose
                            : "No Other Purpose"
                        }}
                      </td>
                    </tr>
                  </table>

                  <!-- Borrower's Information -->
                  <h3>Borrower's Information</h3>
                  <table
                    class="details-table"
                    *ngIf="
                      borrowersInformation && borrowersInformation.length > 0;
                      else noBorrowerInfo
                    "
                  >
                    <tr>
                      <td>Employee Number</td>
                      <td>{{ borrowersInformation[0].employee_number }}</td>
                    </tr>
                    <tr>
                      <td>Employee Name</td>
                      <td>
                        {{ borrowersInformation[0].first_name }}
                        {{ borrowersInformation[0].last_name }}
                      </td>
                    </tr>
                    <tr>
                      <td>Employee Position</td>
                      <td>{{ borrowersInformation[0].position }}</td>
                    </tr>
                    <tr>
                      <td>Mobile No.</td>
                      <td>{{ borrowersInformation[0].mobile_number }}</td>
                    </tr>
                    <tr>
                      <td>Address</td>
                      <td>
                        {{ borrowersInformation[0].street }},
                        {{ borrowersInformation[0].province }},
                        {{ borrowersInformation[0].region }}
                      </td>
                    </tr>
                    <tr>
                      <td>Employment Status</td>
                      <td>{{ borrowersInformation[0].employment_status }}</td>
                    </tr>
                    <tr>
                      <td>Date of Birth</td>
                      <td>{{ borrowersInformation[0].date_of_birth }}</td>
                    </tr>
                    <tr>
                      <td>Age</td>
                      <td>{{ borrowersInformation[0].age }}</td>
                    </tr>
                    <tr>
                      <td>Office</td>
                      <td>{{ borrowersInformation[0].office }}</td>
                    </tr>
                    <tr>
                      <td>Office Tel No.</td>
                      <td>{{ borrowersInformation[0].office_tel_number }}</td>
                    </tr>
                    <tr>
                      <td>Monthly Salary</td>
                      <td>{{ borrowersInformation[0].monthly_salary }}</td>
                    </tr>
                    <tr>
                      <td>Years In Service</td>
                      <td>{{ borrowersInformation[0].years_in_service }}</td>
                    </tr>
                  </table>
                  <ng-template #noBorrowerInfo>
                    <p>No Data Yet</p>
                  </ng-template>

                  <!-- CoMaker's Information -->
                  <h3>CoMaker's Information</h3>
                  <table class="details-table">
                    <tr>
                      <td>Employee Number</td>
                      <td>
                        {{
                          coMakersInformation[0].co_employee_number
                            ? coMakersInformation[0].co_employee_number
                            : noData
                        }}
                      </td>
                    </tr>
                    <tr>
                      <td>Employee Name</td>
                      <td>
                        {{
                          coMakersInformation[0].co_first_name
                            ? coMakersInformation[0].co_first_name
                            : noData
                        }}
                        {{ coMakersInformation[0].co_last_name }}
                      </td>
                    </tr>
                    <tr>
                      <td>Employee Position</td>
                      <td>
                        {{
                          coMakersInformation[0].position
                            ? coMakersInformation[0].position
                            : noData
                        }}
                      </td>
                    </tr>
                    <tr>
                      <td>Mobile No.</td>
                      <td>
                        {{
                          coMakersInformation[0].co_mobile_number
                            ? coMakersInformation[0].co_mobile_number
                            : noData
                        }}
                      </td>
                    </tr>
                    <tr>
                      <td>Address</td>
                      <td>
                        {{
                          coMakersInformation[0].co_street
                            ? coMakersInformation[0].co_street +
                              ", " +
                              coMakersInformation[0].co_province +
                              ", " +
                              coMakersInformation[0].co_region
                            : noData
                        }}
                      </td>
                    </tr>
                    <tr>
                      <td>Employment Status</td>
                      <td>
                        {{
                          coMakersInformation[0].co_employment_status
                            ? coMakersInformation[0].co_employment_status
                            : noData
                        }}
                      </td>
                    </tr>
                    <tr>
                      <td>Date of Birth</td>
                      <td>
                        {{
                          coMakersInformation[0].co_date_of_birth
                            ? coMakersInformation[0].co_date_of_birth
                            : noData
                        }}
                      </td>
                    </tr>
                    <tr>
                      <td>Age</td>
                      <td>
                        {{
                          coMakersInformation[0].co_age
                            ? coMakersInformation[0].co_age
                            : noData
                        }}
                      </td>
                    </tr>
                    <tr>
                      <td>Office</td>
                      <td>
                        {{
                          coMakersInformation[0].co_office
                            ? coMakersInformation[0].co_office
                            : noData
                        }}
                      </td>
                    </tr>
                    <tr>
                      <td>Office Tel No.</td>
                      <td>
                        {{
                          coMakersInformation[0].co_office_tel_number
                            ? coMakersInformation[0].co_office_tel_number
                            : noData
                        }}
                      </td>
                    </tr>
                    <tr>
                      <td>Monthly Salary</td>
                      <td>
                        {{
                          coMakersInformation[0].co_monthly_salary
                            ? coMakersInformation[0].co_monthly_salary
                            : noData
                        }}
                      </td>
                    </tr>
                    <tr>
                      <td>Years In Service</td>
                      <td>
                        {{
                          coMakersInformation[0].co_years_in_service
                            ? coMakersInformation[0].co_years_in_service
                            : noData
                        }}
                      </td>
                    </tr>
                  </table>
                </mat-tab>

                <mat-tab label="Loan Application PDF">
                  <div class="pdf-preview-container">
                    <button
                      mat-raised-button
                      color="primary"
                      (click)="generateAndPreviewPdf()"
                      class="button-generate"
                    >
                      Generate & Preview PDF
                    </button>
                    <iframe
                      #pdfPreview
                      title="PDF Preview"
                      width="595"
                      height="842"
                      style="
                        border: 1px solid #ccc;
                        display: block;
                        margin-top: 1rem;
                      "
                    ></iframe>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </mat-tab>

            <mat-tab label="Assessment Form">
              <mat-tab-group>
                <mat-tab label="Assessment Details">
                  <!-- Documents Submitted -->
                  <h3 style="margin-top: 1rem">Documents Submitted</h3>
                  <table class="details-table">
                    <tr>
                      <td>Loan Application Form (LAF)</td>
                      <td>
                        <ng-container
                          *ngIf="
                            assessmentDetails[0].loan_application_form ===
                              'Yes';
                            else dashLAF
                          "
                        >
                          <mat-icon>check_box</mat-icon>
                        </ng-container>
                        <ng-template #dashLAF
                          ><mat-icon>close</mat-icon></ng-template
                        >
                      </td>
                    </tr>
                    <tr>
                      <td>Authorization To Deduct</td>
                      <td>
                        <ng-container
                          *ngIf="
                            assessmentDetails[0].authorization_to_deduct ===
                              'Yes';
                            else dashAuth
                          "
                        >
                          <mat-icon>check_box</mat-icon>
                        </ng-container>
                        <ng-template #dashAuth
                          ><mat-icon>close</mat-icon></ng-template
                        >
                      </td>
                    </tr>
                    <tr>
                      <td>Latest Copy of pay slip</td>
                      <td>
                        <ng-container
                          *ngIf="
                            assessmentDetails[0].latest_pay_slip === 'Yes';
                            else dashPayslip
                          "
                        >
                          <mat-icon>check_box</mat-icon>
                        </ng-container>
                        <ng-template #dashPayslip
                          ><mat-icon>close</mat-icon></ng-template
                        >
                      </td>
                    </tr>
                    <tr>
                      <td>Photocopy of Deped ID</td>
                      <td>
                        <ng-container
                          *ngIf="
                            assessmentDetails[0].photocopy_deped_id === 'Yes';
                            else dashDepedID
                          "
                        >
                          <mat-icon>check_box</mat-icon>
                        </ng-container>
                        <ng-template #dashDepedID
                          ><mat-icon>close</mat-icon></ng-template
                        >
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Document showing proof has at least 2 years experience
                      </td>
                      <td>
                        <ng-container
                          *ngIf="
                            assessmentDetails[0].proof_co_terminus === 'Yes';
                            else dashProof
                          "
                        >
                          <mat-icon>check_box</mat-icon>
                        </ng-container>
                        <ng-template #dashProof
                          ><mat-icon>close</mat-icon></ng-template
                        >
                      </td>
                    </tr>
                    <tr>
                      <td>Others (Specify)</td>
                      <td>
                        <ng-container
                          *ngIf="assessmentDetails[0].others; else dashOthers"
                        >
                          {{ assessmentDetails[0].others }}
                        </ng-container>
                        <ng-template #dashOthers>
                          No Other Document
                        </ng-template>
                      </td>
                    </tr>
                    <tr>
                      <td>Additional Documents for Additional Loans</td>
                      <td>
                        <ng-container
                          *ngIf="
                            !!assessmentDetails[0]?.additional_documents ||
                              !!assessmentDetails[0]?.letter_of_request ||
                              !!assessmentDetails[0]?.hospitalization ||
                              !!assessmentDetails[0]?.medical_abstract ||
                              !!assessmentDetails[0]?.barangay;
                            else dashProof
                          "
                        >
                          <mat-icon>check_box</mat-icon>
                        </ng-container>
                        <ng-template #dashProof>
                          <mat-icon>close</mat-icon>
                        </ng-template>
                      </td>
                    </tr>
                    <tr>
                      <td>Letter of Request</td>
                      <td>
                        <ng-container
                          *ngIf="
                            assessmentDetails[0].letter_of_request === 'Yes';
                            else dashLetter
                          "
                        >
                          <mat-icon>check_box</mat-icon>
                        </ng-container>
                        <ng-template #dashLetter
                          ><mat-icon>close</mat-icon></ng-template
                        >
                      </td>
                    </tr>
                    <tr>
                      <td>Hospitalization/Medical Expenses</td>
                      <td>
                        <ng-container
                          *ngIf="
                            assessmentDetails[0].hospitalization === 'Yes';
                            else dashHospital
                          "
                        >
                          <mat-icon>check_box</mat-icon>
                        </ng-container>
                        <ng-template #dashHospital
                          ><mat-icon>close</mat-icon></ng-template
                        >
                      </td>
                    </tr>
                    <tr>
                      <td>Medical Abstract/Certicate/Prescription/Diagnosis</td>
                      <td>
                        <ng-container
                          *ngIf="
                            assessmentDetails[0].medical_abstract === 'Yes';
                            else dashMedical
                          "
                        >
                          <mat-icon>check_box</mat-icon>
                        </ng-container>
                        <ng-template #dashMedical
                          ><mat-icon>close</mat-icon></ng-template
                        >
                      </td>
                    </tr>
                    <tr>
                      <td>Barangay/LGU Certificate</td>
                      <td>
                        <ng-container
                          *ngIf="
                            assessmentDetails[0].barangay === 'Yes';
                            else dashBarangay
                          "
                        >
                          <mat-icon>check_box</mat-icon>
                        </ng-container>
                        <ng-template #dashBarangay
                          ><mat-icon>close</mat-icon></ng-template
                        >
                      </td>
                    </tr>
                  </table>

                  <!-- Completeness and Veracity -->
                  <h3>Completeness and Veracity of Submitted Documents</h3>
                  <table class="details-table">
                    <tr>
                      <td>Signed and completely filled out LAF</td>
                      <td>
                        <ng-container
                          *ngIf="
                            assessmentDetails[0].signed_filled_laf === 'Yes';
                            else dashSignedLAF
                          "
                        >
                          <mat-icon>check_box</mat-icon>
                        </ng-container>
                        <ng-template #dashSignedLAF
                          ><mat-icon>close</mat-icon></ng-template
                        >
                      </td>
                    </tr>
                    <tr>
                      <td>Complete supporting documents for type of loan</td>
                      <td>
                        <ng-container
                          *ngIf="
                            assessmentDetails[0]
                              .complete_supporting_documents === 'Yes';
                            else dashSupporting
                          "
                        >
                          <mat-icon>check_box</mat-icon>
                        </ng-container>
                        <ng-template #dashSupporting
                          ><mat-icon>close</mat-icon></ng-template
                        >
                      </td>
                    </tr>
                    <tr>
                      <td>Signature on LAF are by authorized signatories</td>
                      <td>
                        <ng-container
                          *ngIf="
                            assessmentDetails[0].authorized_signature_laf ===
                              'Yes';
                            else dashSignature
                          "
                        >
                          <mat-icon>check_box</mat-icon>
                        </ng-container>
                        <ng-template #dashSignature
                          ><mat-icon>close</mat-icon></ng-template
                        >
                      </td>
                    </tr>
                  </table>

                  <!-- Eligibility -->
                  <h3>Eligibility of the Borrower and Co-Maker</h3>
                  <table class="details-table">
                    <tr>
                      <th>Eligibility Criteria</th>
                      <th></th>
                      <th>Age</th>
                    </tr>
                    <tr>
                      <td>
                        Borrower will not reach mandatory retirement before loan
                        maturity
                      </td>
                      <td>
                        <ng-container
                          *ngIf="
                            assessmentDetails[0].borrower_reaches_retirement ===
                              'Yes';
                            else blankBorrowerRetirement
                          "
                        >
                          <mat-icon>check_box</mat-icon>
                        </ng-container>
                        <ng-template #blankBorrowerRetirement>
                          <ng-container
                            *ngIf="
                              assessmentDetails[0]
                                .borrower_reaches_retirement === 'No';
                              else emptyCell
                            "
                          >
                            <mat-icon>close</mat-icon>
                          </ng-container>
                          <ng-template #emptyCell></ng-template>
                        </ng-template>
                      </td>
                      <td class="number-highlight">
                        {{ assessmentDetails[0].borrowers_age ?? "" }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Co-Maker will not reach mandatory retirement before loan
                        maturity
                      </td>
                      <td>
                        <ng-container
                          *ngIf="
                            assessmentDetails[0].comakers_reaches_retirement ===
                              'Yes';
                            else blankCoMakerRetirement
                          "
                        >
                          <mat-icon>check_box</mat-icon>
                        </ng-container>
                        <ng-template #blankCoMakerRetirement>
                          <ng-container
                            *ngIf="
                              assessmentDetails[0]
                                .comakers_reaches_retirement === 'No';
                              else emptyCell2
                            "
                          >
                            <mat-icon>close</mat-icon>
                          </ng-container>
                          <ng-template #emptyCell2></ng-template>
                        </ng-template>
                      </td>
                      <td class="number-highlight">
                        {{ assessmentDetails[0].comakers_age ?? "" }}
                      </td>
                    </tr>
                    <tr>
                      <td>Borrower has Outstanding PF Loan Balance</td>
                      <td>
                        <ng-container
                          *ngIf="
                            assessmentDetails[0]
                              .borrowers_has_outstanding_balance === 'Yes';
                            else blankOutstanding
                          "
                        >
                          <mat-icon>check_box</mat-icon>
                        </ng-container>
                        <ng-template #blankOutstanding>
                          <ng-container
                            *ngIf="
                              assessmentDetails[0]
                                .borrowers_has_outstanding_balance === 'No';
                              else emptyCell3
                            "
                          >
                            <mat-icon>close</mat-icon>
                          </ng-container>
                          <ng-template #emptyCell3></ng-template>
                        </ng-template>
                      </td>
                      <td></td>
                    </tr>
                  </table>

                  <!-- Computation -->
                  <h3>Computation of Loan</h3>
                  <table class="details-table">
                    <tr>
                      <td>Principal Amount of Loan</td>
                      <td>
                        {{ assessmentDetails[0].principal_loan_amount }}
                      </td>
                    </tr>
                    <tr>
                      <td>Principal</td>
                      <td>{{ assessmentDetails[0].principal }}</td>
                    </tr>
                    <tr>
                      <td>Interest</td>
                      <td>{{ assessmentDetails[0].interest }}</td>
                    </tr>
                    <tr>
                      <td>Outstanding Balance</td>
                      <td>
                        {{ assessmentDetails[0].outstanding_balance || "" }}
                      </td>
                    </tr>
                    <tr>
                      <td>Net Take Home Pay After Deduction</td>
                      <td>
                        {{
                          assessmentDetails[0].net_take_home_pay_after_deduction
                        }}
                      </td>
                    </tr>
                    <tr>
                      <td>Monthly Amortization</td>
                      <td>
                        {{ assessmentDetails[0].monthly_amortization }}
                      </td>
                    </tr>
                    <tr>
                      <td>Period of Loan</td>
                      <td>{{ assessmentDetails[0].period_of_loan }}</td>
                    </tr>
                    <tr>
                      <td>Remarks</td>
                      <td style="white-space: normal; word-break: break-word">
                        {{ assessmentDetails[0].remarks }}
                      </td>
                    </tr>
                  </table>
                </mat-tab>

                <mat-tab label="Assessment Form PDF">
                  <div class="pdf-preview-container">
                    <button
                      mat-raised-button
                      color="primary"
                      (click)="generateAndPreviewPdfAssessment()"
                      class="button-generate"
                    >
                      Generate & Preview PDF Assessment
                    </button>
                    <iframe
                      #pdfPreviewAssessment
                      title="PDF Preview Assessment"
                      width="595"
                      height="842"
                      style="
                        border: 1px solid #ccc;
                        display: block;
                        margin-top: 1rem;
                      "
                    ></iframe>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </mat-tab>

            <mat-tab label="Salary Deduction Form">
              <mat-tab-group>
                <mat-tab label="Salary Deduction Form PDF">
                  <div class="pdf-preview-container">
                    <button
                      mat-raised-button
                      color="primary"
                      (click)="generateAndPreviewPdfAuthorization()"
                      class="button-generate"
                    >
                      Generate & Preview PDF Authorization to Deduct
                    </button>
                    <iframe
                      #pdfPreviewAuthorization
                      title="PDF Preview Authorization"
                      width="595"
                      height="842"
                      style="
                        border: 1px solid #ccc;
                        display: block;
                        margin-top: 1rem;
                      "
                    ></iframe>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </mat-tab>

            <mat-tab label="Uploaded Documents">
              <mat-tab-group>
                <mat-tab label="Payslip of Applicant">
                  <iframe
                    *ngIf="this.documentsDetails[0].payslipApplicant_path"
                    [src]="transform(url.payslipApplicant)"
                    frameborder="0"
                  ></iframe>
                  <div
                    class="no-uploaded-document"
                    *ngIf="!this.documentsDetails[0].payslipApplicant_path"
                  >
                    No Uploaded Document
                  </div>
                </mat-tab>

                <mat-tab label="Payslip of CoMaker">
                  <iframe
                    *ngIf="this.documentsDetails[0].payslipComaker_path"
                    [src]="transform(url.payslipComaker)"
                    frameborder="0"
                  ></iframe>
                  <div
                    class="no-uploaded-document"
                    *ngIf="!this.documentsDetails[0].payslipComaker_path"
                  >
                    No Uploaded Document
                  </div>
                </mat-tab>

                <mat-tab label="Id of Applicant">
                  <iframe
                    *ngIf="this.documentsDetails[0].idApplicant_path"
                    [src]="transform(url.idApplicant)"
                    frameborder="0"
                  ></iframe>
                  <div
                    class="no-uploaded-document"
                    *ngIf="!this.documentsDetails[0].idApplicant_path"
                  >
                    No Uploaded Document
                  </div>
                </mat-tab>

                <mat-tab label="Id of CoMaker">
                  <iframe
                    *ngIf="this.documentsDetails[0].idComaker_path"
                    [src]="transform(url.idComaker)"
                    frameborder="0"
                  ></iframe>
                  <div
                    class="no-uploaded-document"
                    *ngIf="!this.documentsDetails[0].idComaker_path"
                  >
                    No Uploaded Document
                  </div>
                </mat-tab>

                <mat-tab label="CSC Appointment">
                  <iframe
                    *ngIf="this.documentsDetails[0].cscAppointment_path"
                    [src]="transform(url.csc)"
                    frameborder="0"
                  ></iframe>
                  <div
                    class="no-uploaded-document"
                    *ngIf="!this.documentsDetails[0].cscAppointment_path"
                  >
                    No Uploaded Document
                  </div>
                </mat-tab>

                <mat-tab label="Emergency Loan">
                  <iframe
                    *ngIf="this.documentsDetails[0].emergency_path"
                    [src]="transform(url.emergency)"
                    frameborder="0"
                  ></iframe>
                  <div
                    class="no-uploaded-document"
                    *ngIf="!this.documentsDetails[0].emergency_path"
                  >
                    No Uploaded Document
                  </div>
                </mat-tab>
              </mat-tab-group>
            </mat-tab>
          </mat-tab-group>
        </div>

        <div class="buttons">
          <button class="button-action" (click)="openEndorse()">
            <span>Forward to Approval</span>
          </button>
          <button
            class="button-action"
            *ngIf="this.loanDetails[0].status !== 'Approved'"
            (click)="openAssessmentForm()"
          >
            <span>Assess</span>
          </button>
          <button class="button-action" (click)="openReject()">
            <span>Reject</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
