<div class="user-view">
  <div class="main">
    <div class="header">
      <h1 class="header-text">
        <span class="back" (click)="goBack()">Forward</span> >
        {{ this.application_id }}
      </h1>
    </div>

    <div class="table">
      <div class="profile">
        <div class="profile-body">
          <div class="profile-content">
            <div class="profile-image">
              <img src="../../../assets/chad.jpg" alt="profile picture" />
            </div>
            <table class="profile-table">
              <tr>
                <td>Employee Number</td>
                <td>{{ this.loanDetails[0].applicant_id }}</td>
              </tr>
              <tr>
                <td>Fullname</td>
                <td>
                  {{ this.loanDetails[0].first_name }}
                  {{ this.loanDetails[0].last_name }}
                </td>
              </tr>
              <tr>
                <td>Designation</td>
                <td>{{ this.loanDetails[0].designation }}</td>
              </tr>
              <!-- <tr>
                <td>Contact #</td>
                <td>-----</td>
              </tr> -->
            </table>
          </div>
        </div>
      </div>

      <div class="details">
        <div class="scrollable">
          <mat-tab-group clas="tab">
            <mat-tab label="Loan Application Form">
              <mat-tab-group>
                <mat-tab label="Loan Application Details">
                  <!-- Loan Details -->
                  <h3 style="margin-top: 1rem">Loan Details</h3>
                  <table class="details-table">
                    <tr>
                      <td>Application Number</td>
                      <td>{{ loanDetails[0].application_id }}</td>
                    </tr>
                    <tr>
                      <td>Loan Amount</td>
                      <td>PHP {{ loanDetails[0].loan_amount }}</td>
                    </tr>
                    <tr>
                      <td>Loan Type</td>
                      <td>{{ loanDetails[0].type_of_loan }}</td>
                    </tr>
                    <tr>
                      <td>Term</td>
                      <td>{{ loanDetails[0].term }}</td>
                    </tr>
                    <tr>
                      <td>Purpose</td>
                      <td>{{ loanDetails[0].purpose }}</td>
                    </tr>
                    <tr>
                     <td>Other Purpose</td>
                      <td>{{ loanDetails[0].other_purpose ? loanDetails[0].other_purpose : 'No Other Purpose'}}</td>
                    </tr>
                  </table>

                  <!-- Borrower's Information -->
                  <h3>Borrower's Information</h3>
                  <table class="details-table" *ngIf="borrowersInformation && borrowersInformation.length > 0; else noBorrowerInfo">
                    <tr>
                      <td>Employee Number</td>
                      <td>{{ borrowersInformation[0].employee_number }}</td>
                    </tr>
                    <tr>
                      <td>Employee Name</td>
                      <td>
                        {{ borrowersInformation[0].first_name }}
                        {{ borrowersInformation[0].last_name }}
                      </td>
                    </tr>
                    <tr>
                      <td>Employee Position</td>
                      <td>{{ borrowersInformation[0].position }}</td>
                    </tr>
                    <tr>
                      <td>Mobile No.</td>
                      <td>{{ borrowersInformation[0].mobile_number }}</td>
                    </tr>
                    <tr>
                      <td>Address</td>
                      <td>
                        {{ borrowersInformation[0].region }},
                        {{ borrowersInformation[0].province }},
                        {{ borrowersInformation[0].street }}
                      </td>
                    </tr>
                    <tr>
                      <td>Employment Status</td>
                      <td>{{ borrowersInformation[0].employment_status }}</td>
                    </tr>
                    <tr>
                      <td>Date of Birth</td>
                      <td>{{ borrowersInformation[0].date_of_birth }}</td>
                    </tr>
                    <tr>
                      <td>Age</td>
                      <td>{{ borrowersInformation[0].age }}</td>
                    </tr>
                    <tr>
                      <td>Office</td>
                      <td>{{ borrowersInformation[0].office }}</td>
                    </tr>
                    <tr>
                      <td>Office Tel No.</td>
                      <td>{{ borrowersInformation[0].office_tel_number }}</td>
                    </tr>
                    <tr>
                      <td>Monthly Salary</td>
                      <td>{{ borrowersInformation[0].monthly_salary }}</td>
                    </tr>
                    <tr>
                      <td>Years In Service</td>
                      <td>{{ borrowersInformation[0].years_in_service }}</td>
                    </tr>
                  </table>
                  <ng-template #noBorrowerInfo>
                    <p>No Data Yet</p>
                  </ng-template>

                  <!-- CoMaker's Information -->
                  <h3>CoMaker's Information</h3>
                  <table class="details-table">
                    <tr>
                      <td>Employee Number</td>
                      <td>{{ coMakersInformation[0].co_employee_number ? coMakersInformation[0].co_employee_number : noData }}</td>
                    </tr>
                    <tr>
                      <td>Employee Name</td>
                      <td>
                        {{ coMakersInformation[0].co_first_name ? coMakersInformation[0].co_first_name : noData }}
                        {{ coMakersInformation[0].co_last_name }}
                      </td>
                    </tr>
                    <tr>
                      <td>Employee Position</td>
                      <td>{{ coMakersInformation[0].position ?  coMakersInformation[0].position : noData }}</td>
                    </tr>
                    <tr>
                      <td>Mobile No.</td>
                      <td>{{ coMakersInformation[0].co_mobile_number ? coMakersInformation[0].co_mobile_number : noData }}</td>
                    </tr>
                    <tr>
                      <td>Address</td>
                      <td>
                        {{ coMakersInformation[0].co_region ? coMakersInformation[0].co_region + ', ' + coMakersInformation[0].co_province + ', ' + coMakersInformation[0].co_street : noData }}
                      </td>
                    </tr>
                    <tr>
                      <td>Employment Status</td>
                      <td>{{ coMakersInformation[0].co_employment_status ? coMakersInformation[0].co_employment_status : noData }}</td>
                    </tr>
                    <tr>
                      <td>Date of Birth</td>
                      <td>{{ coMakersInformation[0].co_date_of_birth ? coMakersInformation[0].co_date_of_birth : noData }}</td>
                    </tr>
                    <tr>
                      <td>Age</td>
                      <td>{{ coMakersInformation[0].co_age ? coMakersInformation[0].co_age : noData }}</td>
                    </tr>
                    <tr>
                      <td>Office</td>
                      <td>{{ coMakersInformation[0].co_office ? coMakersInformation[0].co_office : noData }}</td>
                    </tr>
                    <tr>
                      <td>Office Tel No.</td>
                      <td>{{ coMakersInformation[0].co_office_tel_number ? coMakersInformation[0].co_office_tel_number : noData }}</td>
                    </tr>
                    <tr>
                      <td>Monthly Salary</td>
                      <td>{{ coMakersInformation[0].co_monthly_salary ? coMakersInformation[0].co_monthly_salary : noData}}</td>
                    </tr>
                    <tr>
                      <td>Years In Service</td>
                      <td>{{ coMakersInformation[0].co_years_in_service ? coMakersInformation[0].co_years_in_service : noData}}</td>
                    </tr>
                  </table>
                </mat-tab>

                <mat-tab label="Loan Application PDF">
                  <div class="pdf-preview-container">
                    <button
                      mat-raised-button
                      color="primary"
                      (click)="generateAndPreviewPdf()"
                      class="button-generate"
                    >
                      Generate & Preview PDF
                    </button>
                    <iframe
                      #pdfPreview
                      title="PDF Preview"
                      width="595"
                      height="842"
                      style="
                        border: 1px solid #ccc;
                        display: block;
                        margin-top: 1rem;
                      "
                    ></iframe>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </mat-tab>

            <mat-tab label="Uploaded Documents">
              <mat-tab-group>
                <mat-tab label="Authority To Deduct">
                  <iframe
                    [src]="url.authorityToDeduct"
                    frameborder="0"
                  ></iframe>
                </mat-tab>

                <mat-tab label="Payslip of Applicant">
                  <iframe [src]="url.payslipApplicant" frameborder="0"></iframe>
                </mat-tab>

                <mat-tab label="Payslip of CoMaker">
                  <iframe [src]="url.payslipComaker" frameborder="0"></iframe>
                </mat-tab>

                <mat-tab label="Id of Applicant">
                  <iframe [src]="url.idApplicant" frameborder="0"></iframe>
                </mat-tab>

                <mat-tab label="Id of CoMaker">
                  <iframe [src]="url.idComaker" frameborder="0"></iframe>
                </mat-tab>

                <mat-tab label="CSC Appointment">
                  <iframe [src]="url.csc" frameborder="0"></iframe>
                </mat-tab>

                <mat-tab label="Emergency Loan">
                  <iframe [src]="url.emergency" frameborder="0"></iframe>
                </mat-tab>
              </mat-tab-group>
            </mat-tab>
          </mat-tab-group>
        </div>

        <div class="buttons" *ngIf="roleId === 5">
          <button
            class="button-action"
            (click)="openEndorse()"
            D
            style="margin-top: 1rem; margin-bottom: 1rem"
          >
            <span>Forward to Assessment</span>
          </button>
          <button
            class="button-action"
            (click)="openReject()"
            D
            style="margin-top: 1rem; margin-bottom: 1rem; margin-left: 1rem;"
          >
            <span>Reject</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
