<div class="input_container">
  <input type="text" [(ngModel)]="searchTerm" placeholder="Search Employee" />
  <button (click)="searchEmployee()">
    <img src="/assets/Search.svg" alt="" />
  </button>
</div>
@if(rows.length < 1) {
<p id="empty">No Records!</p>
} @else {

<table>
  <tr class="thead">
    @for (item of header; track $index) {
    <th>{{ item }}</th>
    } @if(router.url === "/forward" || router.url === "/payment" || router.url
    === "/assessment" || router.url === "/application" || router.url === "/paid") {
    <th>Action</th>
    }
  </tr>
  <ng-container *ngFor="let row of rows; let idx = index">
    <tr class="row">
      @for (item of row; track $index) {
      <td>
        {{
          header[$index] === "Date Submitted"
            ? (item | date : "MMMM d, y")
            : item
        }}
      </td>
      } @if(router.url === "/forward" || router.url === "/assessment" ||
      router.url === "/application" || router.url === "/paid") {
      <td>
        <button (click)="navigateRoute(row[0], row[0])" class="button-action">
          <img src="../../../assets/previewpane.svg" alt="eye button icon" />
          <span>View</span>
        </button>
      </td>
      } @else if(router.url === "/payment") {
      <td>
        <button (click)="openDialog(row[0], row[5])">Pay</button>
      </td>
      }
    </tr>
  </ng-container>
</table>
}
