<div class="details_container">
  <button>Back</button>
  <div class="overview_container">
    <div class="profile">

    </div>
    <div class="parent">
      <div>
        Employee Number
      </div>
      <div>
        {{applicantDetail.applicant_id}}
      </div>
      <div>
        Fullname
      </div>
      <div>
        {{parseName}}
      </div>
      <div>
        Designation
      </div>
      <div>
        {{applicantDetail.designation}}
      </div>
      <div>
        Email
      </div>
      <div>
        {{applicantDetail.email}}
      </div>
    </div>
  </div>

  <div class="detail_container">
    <mat-tab-group>
      <mat-tab label="Loan Details"> <app-loan-details [loanDetail]="loanDetail"></app-loan-details> </mat-tab>
      <mat-tab label="Applicant's Details"> <app-employee-details [borrowerInfo]="borrowerInfo"></app-employee-details> </mat-tab>
      <mat-tab label="Co-maker's Details"> <app-comaker-details [comakerInfo]="coMakerInfo"> </app-comaker-details> </mat-tab>
      <mat-tab label="CSC"> <app-pdf-view [src]="documents.cscAppointment_path"></app-pdf-view> </mat-tab>
      <mat-tab label="Medical Emergency Proof"> <app-pdf-view [src]="documents.emergency_path"></app-pdf-view> </mat-tab>
      <mat-tab label="ID of Co-maker"> <app-pdf-view [src]="documents.idComaker_path"></app-pdf-view> </mat-tab>
      <mat-tab label="ID of applicant"> <app-pdf-view [src]="documents.idApplicant_path"></app-pdf-view> </mat-tab>
      <mat-tab label="Authority to Deduct"> <app-pdf-view [src]="documents.authorityToDeduct_path"></app-pdf-view> </mat-tab>
      <mat-tab label="Payslip of applicant"> <app-pdf-view [src]="documents.payslipApplicant_path"></app-pdf-view> </mat-tab>
      <mat-tab label="Payslip of comaker"> <app-pdf-view [src]="documents.payslipComaker_path"></app-pdf-view> </mat-tab>
    </mat-tab-group>
  </div>

  <div class="forward_container">
    <button (click)="openDialog(applicationId)">Forward to secretariat</button>
  </div>
</div>
