hr {
  width: 100%;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidenav {
  padding-top: 2rem;
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: #0165b2;
  overflow: hidden;
  justify-content: space-between;
  height: 93%;
  color: white;
}

.profile-container {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid white;
  width: 80%;
  padding-bottom: 1rem;
}

.account-container {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-top: 1px solid white;
  width: 80%;
  padding-top: 1rem;
}

.profile-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}

.profile-name {
  font-weight: bold;
  font-size: 1rem;
}

.route-container {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 1rem;
}

.button-logout {
  background: transparent;
  border: none;
  cursor: pointer;
}

.button-action {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border: none;
  background-color: #003b68;
  color: white;
  padding: 0.6rem 1.5rem 0.6rem 1.5rem;
  border-radius: 5px;
  transition: 0.2s ease;
  gap: 0.3rem;
}

.button-action:hover {
  cursor: pointer;
  background-color: #004e89;
}

/* accounts nav div */

.nav-div {
  padding: 0.5rem 0 0.5rem 1.5rem;
  width: 11rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  background-color: #0165B2;
  transition: 0.2s ease;
  cursor: pointer;
}

.nav-div:hover {
  background-color: #004e89;
  cursor: pointer;
}

.nav-text {
  font-size: 1rem;
  text-decoration: none;
  color: white;
}

.pathname {
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-size: 1rem;
}
