<nav class="sidenav">
  <div class="main-content">
    <div class="profile-container">
      <div class="img">
        <img src="../../assets/profile.svg" alt="profile.svg">
      </div>

      <div class="profile-info">
        <p class="profile-name">{{ firstName }} {{ lastName }}</p>
        <p class="profile-department" *ngIf="department_id === 2">Accounting</p>
        <p class="profile-department" *ngIf="department_id !== 2">No Access</p>

      </div>


    </div>
    <div class="route-container">
      <ng-container *ngFor="let path of paths; let i = index">
        <app-menu-item [path]="path"></app-menu-item>
      </ng-container>
    </div>

  </div>
  <button class="button-logout" (click)="logout()" class="button-action">
    Logout
  </button>
</nav>