html,
body {
  margin: 0;
}

.drawer-container {
  height: 100vh;
  display: flex;
}

.sidebar-container {
  width: auto;
  border: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background: linear-gradient(135deg, #0165b2 0%, #003b68 100%);
}

.main-content-container {
  flex-grow: 1;
}

.top-nav {
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 12px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 12px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 12px -3px rgba(0, 0, 0, 0.75);
}

.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  padding: 1rem 0.5rem;
  margin: 0;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}

.toggle-button:hover {
  background-color: rgb(200, 200, 200);
}

.router-container {
  padding: 1rem 1.5rem;
}
