<div class="parent">
  <div>
    Employee Number
  </div>
  <div>
    {{comakerInfo.co_applicant_id}}
  </div>
  <div>
    Employee Name
  </div>
  <div>
    {{parseName}}
  </div>
  <div>
    Mobile No.
  </div>
  <div>
    {{comakerInfo.co_mobile_number}}
  </div>
  <div>
    Address
  </div>
  <div>
    {{parseAddress}}
  </div>
  <div>
    Employment Status
  </div>
  <div>
    {{comakerInfo.co_employment_status}}
  </div>
  <div>
    Date of Birth
  </div>
  <div>
    {{comakerInfo.co_date_of_birth}}
  </div>
  <div>
    Age
  </div>
  <div>
    {{comakerInfo.co_age}}
  </div>
  <div>
    Office
  </div>
  <div>
    {{comakerInfo.co_office}}
  </div>
  <div>
    Office Tel No.
  </div>
  <div>
    {{comakerInfo.co_office_tel_number}}
  </div>
  <div>
    Monthly Salary
  </div>
  <div>
    {{comakerInfo.co_monthly_salary}}
  </div>
  <div>
    Years in Service
  </div>
  <div>
    {{comakerInfo.co_years_in_service}}
  </div>
</div>
